# Created by .ignore support plugin (hsz.mobi)
*~
.fuse_hidden*
.directory
.Trash-*
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.gitignore
.idea/codeStyleSettings.xml
.idea/dataSources/
.idea/findbugs-idea.xml
src/main/java/ru/relesystem/core/
target/classes/config/
target/classes/email-templates/
target/classes/ru/relesystem/rest/
target/classes/spring/
target/classes/tags/
target/classes/view/about/
target/classes/view/angularjs/
target/classes/view/email/
target/classes/view/error/
target/classes/view/file/
target/classes/view/form/
target/classes/view/index.jsp
target/classes/view/relays/
target/classes/view/scope/
target/classes/view/security/
target/classes/web.xml
target/generated-sources/
target/generated-test-sources/
target/surefire/
target/test-classes/ru/relesystem/entities/location/
