<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/relestorage?zeroDateTimeBehavior=convertToNull</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.datasource">jdbc/ReleStorage</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <mapping class="entities.CategoryEntity"/>
        <mapping resource="entities/CategoryEntity.hbm.xml"/>
        <mapping class="entities.RelayEntity"/>
        <mapping resource="entities/RelayEntity.hbm.xml"/>
        <mapping class="entities.ReleTypeEntity"/>
        <mapping resource="entities/ReleTypeEntity.hbm.xml"/>
        <mapping class="entities.StationEntity"/>
        <mapping resource="entities/StationEntity.hbm.xml"/>
        <mapping class="entities.StuffEntity"/>
        <mapping resource="entities/StuffEntity.hbm.xml"/>
        <mapping class="entities.UnitEntity"/>
        <mapping resource="entities/UnitEntity.hbm.xml"/>
        <mapping class="entities.UsersEntity"/>
        <mapping resource="entities/UsersEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>	